html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}


.yannLS {
  position: 0,0;

  }
  
  .titrearticle{
  
  position: absolute;
  width: 508px;
  height: 59px;
  left: 42px;
  top: 163px;
  
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 40px;
  
  color: #000000;
  
  text-shadow: 4px 10px 40px #000000;
  }

  .banniere {
    position: absolute;
    width: 1366px;
    height: 279px;
    left: 0px;
    top: 0px;
    
    background: url(affiche_reseau_baby-sitting.jpg), #C4C4C4;
    filter: blur(4px);
    }
    
    .logohetic {
    
    position: absolute;
    width: 90px;
    height: 82px;
    left: 0px;
    top: 0px;
    
    background: url(logoshetic-carre-1512382497), #FEF1DE;
    }
    
    .article1 .articletexte {
    position: absolute;
    width: 713px;
    height: 193px;
    left: 42px;
    top: 309px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-align: left;
    }
    
    /* Cela faisait longtemps que vous nous reclamiez ce type de service et enfin le voilà ! Plus besoin de perdre du temps 
    sur des sites douteux, grace à nous obtener un service fiable grace à son experience il sera parfait pour s'occuper de 
    vos enfants Plus d’infos ici */
    /*
    position: absolute;
    width: 657px;
    height: 142px;
    left: 42px;
    top: 455px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-align: justify;
    
    color: #000000;
    */