html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*nav {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: rgba(236, 236, 236, 0.5);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: height 0.5s, width 0.5s, left 0.5s, top 0.5s, border-radius 0.3s;
}

nav.is-open {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  left: 0;
  top: 0;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.open-icon {
  transition: background-color 0.3s;
}

.open-icon,
.open-icon::before,
.open-icon::after {
  width: 30px;
  height: 4px;
  background: black;
}

.open-icon::before,
.open-icon::after {
  content: '';
  display: block;
  transition: transform 0.3s;
}

.open-icon::before {
  transform: translateY(-8px);
}

.open-icon::after {
  transform: translateY(4px);
}

nav.is-open .open-icon {
  background-color: transparent;
}

nav.is-open .open-icon::before {
  transform: translateY(2px) rotate(45deg);
}

nav.is-open .open-icon::after {
  transform: translateY(-2px) rotate(-45deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transform: translate(calc(-50vw + 40px), calc(50vh - 40px)) scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.3s;
}

nav.is-open ul {
  transform: none;
  opacity: 1;
}

nav:not(.is-open) ul {
  pointer-events: none;
}

li {
  font-size: 60px;
  text-transform: uppercase;
  font-family: Helvetica;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  nav {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
  }
  
  nav.is-open {
    height: 50px;
  }
  
  .open {
    display: none;
  }
  
  .menu  {
    position: static;
    opacity: 1;
    transform: none;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  li {
    font-size: 40px;
  }
  
  li:not(:last-child) {
    margin-bottom: 0;
  }
} */


h1 {
  color: #168B36;
  font-family: 'latolight';
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
}



. mySlides { 
  width: 100%;
  height: 100vh;
  object-fit: cover; }

.mySlides {
  object-position: top center; }


.intro {
color: #168B36;  
}



  
/*
jaune d'hétic: #f2b900
fond noir d'hétic : #323232
Gris background : #ececec 
*/



 